
.weekly{
    background: url("../images/diary-1974728_1920.jpg");
}

.weekly h1{ 
    color: black;
}

.weeklyArticle{
    flex-direction: column;
    width:300px;
    border-radius: 0;
    text-align: center;
}

.moviesWeekly{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: none;
    gap: 20px;
}